.wrapper {
    max-width: 692px;
    display: flex;
    border-bottom: 1px solid #e3e3e4;
    padding: 20px 0;
}
.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.wrapper-content {
    margin-left: 12px;
    width: 624px;
}

.active{
    color: var(--primary);
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-name {
        font-size: 1.8rem;
    }
    
    .full-name {
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 5px;
    }
    
    .title-post {
        font-size: 1.4rem;
        line-height: 22px;
        margin-top: 3px;
    }
    .music {
        display: flex;
        align-items: center;
        margin-top: 5px;
    
        .music-title{
            margin-left: 5px;
        }
    }
}

.content {
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    .video-content {
        height: 550px;
        margin-top: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
    }
    
    .wrapper-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: #1618230F;
        border-radius: 50%;
    }
    
    .icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
    
    .value {
        margin-top: 5px;
        text-align: center;
        color: #161823bf;
        font-size: 1.2rem;
        line-height: 17px;
    }

    .action {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .action-item {
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
}

.menu {
    width: 280px;
}
