.wrapper{
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top: 9px;
    --search-button-width: 52px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner{
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo-link {
    display: flex;
}


// ACTIONS
.actions{
    display: flex;
    align-items: center;
}

.action-btn{
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background: transparent;
    cursor: pointer;
}

.user-avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999px;
    margin-left: 12px;
    cursor: pointer;
}

.upload-btn{
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 36px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    margin-right: 10px;
    cursor: pointer;

    span{
        font-weight: 600;
        margin-left: 10px;
    }
}